html {
  font-size: 20px;
}

body {
  font-family: sans-serif;
  line-height: 1.25;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.columns {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-flow: column;
  grid-gap: 1rem;
  grid-auto-columns: minmax(0, 1fr);
}

label {
  display: block;
}

.input-list {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(5, minmax(0px, 1fr));
}

.input-list label {
  flex: 1;
  white-space: nowrap;
  padding: 0.25rem 0.5rem;
}

input[type="radio"]:checked {
  transform: scale(1.5);
}
